/* stylesheet */

.youtube-logo{
    width: 120px;
    height: 68px;
}

#logo{
    padding-left: 20px;
}

.navbar{
    display: flex;
}

.main-frame{  
    display: flex;
}

.video-player{
    padding-left: 100px;
    padding-top: 20px;
}

#category{
display: flex;
gap: 15px;
}

.side-bar{
    padding-top: 20px;
    padding-left: 20px;
}

p, a{
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
}

.title{
    font-size: 19px;
    font-weight: 400;
}

.views-count{
font-weight: 100;
font-size: 14px;
}

 .subsribe{
    display: flex;
    padding-top: 50px;
}

#microverse-logo{
    border-radius: 50%;
}

#subscribe-logo{
width: 130px;
height: 30px;
padding-left: 415px;
}

#microverse{
padding-left: 20px;
color: black;
margin-bottom: 30px;
font-weight: 400;
}

.about{
    padding-left: 70px;
}

.side-bar-image{
    height: 100px;
    width: 160px;
}

.suggestions{
    display: flex;
    padding-top: 20px;
}

.side-bar-videos{
color: black;
font-weight: 520;
}

.comments{
    display: flex;
    padding-top: 20px;
}

#short-by{
padding-left: 50px;
padding-top: 17px;
}

.show-more{
    padding-left: 65px;
    padding-top: 20px;
}

#show-more-link, #short-by{
    color: black;
}

#show-more-link{
    font-size: 13px;
    font-weight: 500;
}

#comments-count, #short-by{
    font-weight: bold;

}

#search-bar{
    padding-left: 160px;
    padding-top: 20px;
}

input{
    line-height: 30px;
}

#search-image{
    height: 25px;
    width: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 4px;
   
}

.search-icon{
    border: 0.1px solid black;
    margin-top: 20px;
    margin-bottom: 18px;
}

#menu-image{
    width: 30px;
    padding-top: 20px;
}

#menu-link{
    padding-left: 30px;
}

.views-count-sidebar{
    font-weight: 100;
font-size: 14px;
}

.side-bar-details{
    padding-left: 8px;
}

#mic-image{
    height: 27px;
    width: 27px;
    padding-top: 22px;
    padding-left: 20px;
}


